.hidden{ display:none; }
#help-text{
    border: 1px solid #CCDDEE;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 10px 10px 10px 10px;
    background-color:#FFFFFF;
    position:absolute;
    z-index:4;
 }

#help-text dl {  padding: 0.5em;width:600px; } 
#help-text dt:after {  content: ":";}
#help-text dt {  float: left; clear: left; width: 160px; text-align: right; font-weight: bold; color: green; }
#help-text dd {  margin: 0 0 0 180px; padding: 0 0 0.5em 0; } 


@media print {
  #help-text {
    display: none; } }
