@import "vars.less";

td.icon{
    height:50px;
    width:60px !important;
}
.icon.tip {
    background: url(@tip) no-repeat center center;
}

.icon.note {
    background: url(@note) no-repeat center center;
}


.icon.warning {
    background: url(@warning) no-repeat center center;
}

.icon.important {
    background: url(@important) no-repeat center center;
}

.icon.caution {
    background: url(@caution) no-repeat center center;
}