section.large-black-slide,
section.black-slide {
  background-color: #222;
}
section.large-black-slide h2.section-slide {
  font-size: 11.518865600000003em !important;
  text-align: center !important;
  color: white !important;
  width: 90%;
  margin-bottom: 0px;
  line-height: 1.1em;
}
section.black-slide h2 {
  font-size: 4.4em !important;
  text-align: center !important;
  color: white !important;
  width: 90%;
  position: absolute;
  top: 20%;
}
section.large-black-slide a.deck-prev-link,
section.large-black-slide a.deck-next-link {
  display: none !important;
}
section.black-slide a.deck-prev-link,
section.black-slide a.deck-next-link {
  display: none !important;
}
section.typewriter-slide {
  background-color: #FCEAB1;
}
section.typewriter-slide h2.section-slide {
  font-size: 4.4em !important;
  font-family: "American Typewriter", monospace !important;
  text-align: center !important;
  color: #111 !important;
  position: absolute;
  top: 25% !important;
}
section.typewriter-slide a.deck-prev-link,
section.typewriter-slide a.deck-next-link {
  display: none !important;
}
